*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
@font-face {
    font-family: Khodijah;
    src: url(images/Khodijah\ Free.ttf);
}
body{
    font-size: 1.6rem;
    /* background-color: #f8af3b; */
    background-color: #e4d9be;
}
header{
    width: 100%;
    height: 250px;
    background-color: #3B6978;
    display: flex;
}

.logopng{
    width: 20rem
}
.logo{
    font-family: Khodijah;
    color: #E7DFD5;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid orange; */
    width: 80%;
}
.logoh{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
}
.logoh1{
    font-size: 10rem;
}
.logoh2{
    font-size: 5rem;
    align-self: flex-end;
}

.loginSearch{
    display: flex;
    flex-direction: column;
    gap: 40px;;
    width: 40%;
}

.anmeldung{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #84A9AC;
    padding: 2rem;
    color: #3B6978;
    text-align: center;
    font-family: "Twinkle Star", sans-serif;
    font-size: 3rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 100px;
}

.suchrez{
    font-family: Khodijah;
    color: #E7DFD5;
    font-size: 2.5rem;
    margin-top: 20px;
}

.searchbar{
    display: block;
    bottom: 30px;
    margin-right: 50px;
    border-bottom: 2px solid #E7DFD5;    
}

#suche{
    height: 50px;
    width: 350px;
    background-color: #3B6978;
    font-family: Khodijah;
    color: #E7DFD5;
    font-size:3rem;
    border: none;
    border-bottom: #E7DFD5;
}

input{
    outline: none;
}

::placeholder{
    color:#E7DFD5
}
.secondNav{
    
    font-family: Khodijah;
    color: #3B6978;
    font-size:2.8rem;
    font-weight: bold;
   
}


ul li{
    list-style: none;
    float: right; 
    margin: 20px;
}









main{
   display:grid;
   width:100%;
   height:100%;
}

.imggrid{
    width: 350px;
    height: 350px;
    object-fit:contain;
    border-radius:25px;
    display: flex;
} 
.imggrid:hover{
    border: 10px solid #3B6978;
}
.imggrid h3{
    display: none;
    font-family: Khodijah;
}



.container{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    ". . . . . . ."
    ". drinks chutney . seasonal seasonal ."
    ".  appetizer chawal . seasonal seasonal ."
    ". handi naan eidSpecials eidSpecials . ."
    ". daal . eidSpecials eidSpecials dessert ."
    ". . . . . . . ";
    grid-template-columns: 5vh 1fr 1fr 1fr 1fr 1fr 5vh;
    grid-template-rows: 5vw 1fr 1fr 1fr 1fr 5vw;
}


.appetizer{
    grid-area: appetizer;
    background-image: url(images/appetizer.jpeg);
    background-size: cover;
    
    
}

.drinks{
    grid-area: drinks;
    background-image: url(images/drinks.jpg);
    background-size: cover;
}
.chutney{
    grid-area:chutney;
    background-image: url(images/chutney.jpg);
    background-size: cover;
}
.handi{
    grid-area:handi;
    background-image: url(images/currys.jpeg);
    background-size:cover;
}
.dessert{
    grid-area:dessert;
    background-image: url(images/dessert.jpeg);
    background-size: cover;
}
.seasonal{
    grid-area:seasonal;
    background-image: url(images/iftari.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.naan{
    grid-area:naan;
    background-image: url(images/naan.jpg);
    background-size: cover;
  
}
.eidSpecials{
    grid-area: eidSpecials;
    background-image: url(images/ArchanasKitchen.jpg);
    background-size: cover;
    width: 100%;
    height: 710px;
}
.chawal{
    grid-area:chawal;
    background-image: url(images/reisgerichte.jpeg);
    background-size: cover;
}
.daal{
    grid-area:daal;
    background-image: url(images/kaleChane.jpg);
    background-size: cover;
}
.imggrid:hover .scriptDrinks{
   
    font-size:5rem;
    color:#E7DFD5;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

.imggrid:hover .scriptChutney{
    font-size:6rem;
    color: #3B6978;
    -webkit-text-stroke: 2px #E7DFD5;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.imggrid:hover .scriptAppetizer{
    font-size:4.5rem;
    color: #84A9AC;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.imggrid:hover .scriptHandi{
    font-size:4.5rem;
    color: #3B6978;
    -webkit-text-stroke: 2px #e4d9be;
    display: flex;
    margin-top: 20px;
    margin-left: 190px;
}

.imggrid:hover .scriptChawal{
    font-size:4rem;
    color: #3B6978;
    -webkit-text-stroke: 1px #e4d9be;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    
}

.imggrid:hover .scriptSeasonal{
    font-size:6rem;
    color: #e4d9be;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
}

.imggrid:hover .scriptNaan{
    font-size:6rem;
    color: #e4d9be;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

.imggrid:hover .scriptEid {
    font-size:8rem;
    color: #84A9AC;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.imggrid:hover .scriptDaal{
    font-size:5rem;
    color: #3B6978;
    -webkit-text-stroke: 2px #E7DFD5;
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}

.imggrid:hover .scriptDessert{
    font-size:5rem;
    color: #3B6978;
    -webkit-text-stroke: 2px #E7DFD5;
    display: flex;
    align-items: flex-end;
    margin-left: 130px;
}

footer{
    background-color: #84A9AC;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content:center;
}
.SocialmediaIcons{
    font-size:6rem;
    color:#e4d9be;
    -webkit-text-stroke: 2px #3B6978;
    display: flex;
    align-items: center;
}

.sidebar {
  max-width: 100%;
  width: 100%;
  margin-left: 40px;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  
}

.navbar .nav-sidebar li {
  list-style: none;
}

.navbar .nav-sidebar a {
    font-family: Khodijah;
  text-decoration: none;
  color: #3B6978;
  font-weight: bold;
  font-size: 4rem;
  padding: 1rem;
  
}

.navbar .nav-sidebar a:hover{
    font-weight: bolder;
}

.nav-sidebar {
  display: block;
  position: relative;
  height: 60px;
}

.nav-sidebar .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-sidebar .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-sidebar .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #3B6978;
}

.nav-sidebar .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-sidebar .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-sidebar .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px #84a9ac;
  height: 175vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

 

.nav-sidebar input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-sidebar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-sidebar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-sidebar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-sidebar input[type="checkbox"]:checked ~ .logo{
    display: none;
}